@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 75px;
    position: relative;
}

p {
    margin-bottom: 0;
}

.block-divider {
    width: 200px;
}

.gallery {
    background-color: #868686;
}

/*Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
   margin: 0;
   border: 0;
   width: 100%;
   height: 100px;
   background-color: rgb(78, 77, 77);
   padding: 0;
}

.navbar-brand {
    font-weight: bold;
    margin-right: 0;
    float: left;
}

.navbar-brand img {
    height: 100px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-item {
    font-size: 22px;
    color: white;
}

.nav-item a:hover {
    color: rgb(27, 124, 27);
}

.align-items-center {
    width: 100%;
    text-align: center;
}

.justify {
    justify-items: center;
}

.col {
    margin: 0;
    border: 0;
    width: 100%;
}

.nav-col {
    border-right: solid 3px grey;
}

#first-nav {
    border-left: solid 3px grey;
}

.active {
    text-decoration: underline;
}

.active:hover {
    color: rgb(27, 124, 27);
    text-decoration: underline;
}

.fixed {
    position: fixed;
    top: 0;
}

.alert {
    background-color: #ffff00;
    color: #000;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding: 4px;
    margin: 0;
}

#navbarNavDropdown {
    z-index: 3;
}

/* Hero image and text overlay */

.hero-container {
    height: 95vh;
    width: 100%;
    background: url(../images/gallery/8gameus.JPG) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hero {
    background-color: transparent;
}

.hero-header {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 25px;
    margin: 0 auto;
}

.hero .lead {
    margin: 0 auto;
    color: #bebbbb;
}

.scrolling {
    position: absolute;
    top: 100px;
    display: block;
    color: #000;
    background-color: #ffff00;
    width: 100vw;
}

/* Page content */

.info-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.info-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.info-header h2 {
    margin-top: 0;
}

.info-header p {
    margin-bottom: 15px;
}

.socials {
    text-decoration: none;
    color: #bebbbb;
}

.gallery-header {
    margin-top: 125px;
    text-align: center;
}

.carousel, .carousel-item {
    width: 70vw;
    height: 65vh;
    margin: 0 auto;
}

.container-wrapper {
    background-color: #bebbbb;
}

form {
    text-align: left;
    margin-left: 100px;
}

label {
    color: #bebbbb;
}

datalist {
    display: none;
}

/* Footer */

footer {
    background-color: gray;
    color: white;
    margin-top: auto;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.contact a {
    color: white;
}

.contact {
    width: 50%;
    border: 1px solid black;
    position: relative;
    float: left;
    height: 75px;
    background-color: inherit;
    text-align: center;
}

.copyright {
    width: 50%;
    border: 1px solid black;
    position: relative;
    float: right;
    color: white;
    height: 75px;
    background-color: inherit;
    text-align: center;
}

/* Responsive design */


@media only screen and (min-width: 769px) {
    .intro {
        width: 800px;
    }
    .smaller-screen {
        display: none;
    }
    .hero-header {
        font-size: 70px;
    }
    .hero .lead {
        font-size: 25px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
    .intro {
        width: 600px;
    }
    .smaller-screen {
        display: none;
    }
    #navbarNavDropdown {
        background-color: grey;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .nav-item {
        white-space: nowrap;
    }
    .hero .lead {
        font-size: 20px;
    }
    .contact p, .copyright p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 576px) {
    .intro {
        width: 100%;
    }
    .hidden {
        display: none;
    }
    #navbarNavDropdown {
        background-color: grey;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .index-header {
        margin-top: 150px;
    }
    .member-header {
        margin-top: 150px;
    }
    .about-header {
        margin-top: 150px;
    }
    iframe {
        width: 90vw;
        height: 300px;
    }
    .navbar-brand img {
        width: 60%;
    }
    .smaller-screen {
        display: none;
    }
    .nav-item {
        white-space: nowrap;
    }
    .hero .lead {
        font-size: 15px;
    }
    .contact p, .copyright p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 340px) {
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 27px;
    }
    .index-header {
        margin-top: 100px;
    }
    .member-header {
        margin-top: 100px;
    }
    .about-header {
        margin-top: 100px;
    }
    .optional {
        display: hidden;
    }
    #navbarNavDropdown {
        background-color: grey;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .nav-item {
        white-space: nowrap;
    }
    .hero .lead {
        font-size: 15px;
    }
    .contact p, .copyright p {
        font-size: 10px;
    }
}