body {

}

.block-divider {
    width: 200px;
}

.info-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.active {
    text-decoration: underline;
}

.fixed {
    position: fixed;
    top: 0;
}

footer {
    background-color: gray;
    height: 100%;
    color: white;
}

.contact a {
    color: white;
}

.contact {
    width: 50%;
    border: 1px solid black;
    position: relative;
    float: left;
    height: 75px;
    background-color: inherit;
    text-align: center;
}

.copyright {
    width: 50%;
    border: 1px solid black;
    position: relative;
    float: right;
    color: white;
    height: 75px;
    background-color: inherit;
    text-align: center;
}