@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    height: 100%;
    width: 100vw;
    margin: 0;
    display: table;
}

html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif; /* Font from Google Fonts */
    margin: 0;
    padding: 0;
    position: relative;
}

p {
    margin-bottom: 0; /* To fix the gap under the footer bug */
}

.block-divider {
    width: 200px;
}

.gallery {
    background-color: #868686; /* For the page with no hero image */
}

header {
    height: 100px;
}

/*Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 3;
}

.navbar {
   margin: 0;
   border: 0;
   width: 100vw;
   height: 100px;
   background-color: #000;
   padding: 0;
   z-index: 3;
}

.navbar-brand {
    font-weight: bold;
    margin-right: 0;
    float: left;
}

.navbar-brand img { /* The logo */
    height: 100px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-item {
    font-size: 21px;
    color: white;
    z-index: 3;
}

.col-2 {
    padding-right: 0;
    padding-left: 0;
}

.nav-item a:hover {
    color: rgb(27, 124, 27);
}

.align-items-center {
    width: 100%;
    text-align: center;
}

.justify {
    justify-items: center;
}

.col {
    margin: 0;
    border: 0;
    width: 100%;
}

.nav-col { /* To create border lines between nav items */
    border-right: solid 3px grey;
}

#first-nav { /* To create border lines between nav items */
    border-left: solid 3px grey;
}

.active {
    text-decoration: underline;
}

.active:hover {
    color: rgb(27, 124, 27);
    text-decoration: underline;
}

.fixed {
    position: fixed;
    top: 0;
}

.marquee { /* For the scrolling alert bar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert { /* For the scrolling alert bar */
    background-color: #ffff00;
    color: #000;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding: 4px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    z-index: 1;
}

.alert div { /* Special thanks to https://dev.to/ryandsouza13/creating-the-classic-marquee-effect-without-the-marquee-tag-4246 for this code */
  font-size: 20px;
  font-family: Poppins;
  font-weight: bold;
  padding-left: 100%;
  display: inline-block;
  animation: animate 15s linear infinite;
  z-index: 1;
}

@keyframes animate {  /* For the scrolling alert bar, thanks to the above link for this code */
  100% {
    transform: translate(-100%, 0);
  }
}

#navbarNavDropdown {
    z-index: 3;
}

/* Hero image and text overlay */

.hero-container {
    height: 80vh;
    width: 100vw;
    background: url(https://i.imgur.com/7IZiJzt.jpg) no-repeat bottom right fixed; /* Background hero image */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hero {
    background-color: transparent;
    margin-top: 25px;
}

.hero-header {
    color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
}

.hero .lead {
    margin: 0 auto;
    color: #bebbbb;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col-3 {
    padding-right: 0;
    padding-left: 0;
}

.scrolling {  /* For the scrolling alert bar */
    position: absolute;
    top: 100px;
    display: block;
    color: #000;
    background-color: #ffff00;
    width: 100vw;
}

/* Page content */

.info-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.info-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.info-header h2 {
    margin-top: 0;
}

.info-header p {
    margin-bottom: 15px;
}

.socials { /* For the social media links */
    text-decoration: none;
    color: #bebbbb;
}

.socials:hover { /* For the social media links */
    text-decoration: underline;
    color: #bebbbb;
}

.arrow-down {
    text-decoration: none;
    color: #bebbbb;
}

.arrow-down:hover {
    text-decoration: none;
    color: rgb(27, 124, 27);
}

.gallery-header {
    text-align: center;
}

.carousel, .carousel-item { /* For image slideshow on Gallery page */
    width: 70vw;
    height: 65vh;
    margin: 0 auto;
}

.container-wrapper {
    background-color: #bebbbb;
    width: 100vw;
}

form {
    text-align: left;
    margin-left: 100px;
}

.form {
    color: rgb(238, 238, 238);
}

label {
    color: #bebbbb;
}

datalist {
    display: none;
}

iframe {
    width: 500px;
    height: 500px;
}

/* Footer */

.content { /* Thanks to https://css-tricks.com/couple-takes-sticky-footer/ for this code */
  min-height: calc(100vh - 75px);
}

footer {
    background-color: rgb(68, 68, 68);
    color: white;
    margin-top: auto;
    width: 100%;
    height: 75px;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
}

.contact { /* To align and style the footer */
    width: 50%;
    border: 1px solid #000;
    position: relative;
    float: left;
    height: 75px;
    background-color: inherit;
    text-align: center;
}

.contact a {
    color: white;
}

.copyright { /* To align and style the footer */
    width: 50%;
    border: 1px solid #000;
    position: relative;
    float: right;
    color: #fff;
    height: 75px;
    background-color: inherit;
    text-align: center;
}

.privacy {
    color: #fff;
    text-decoration: none;
}

.privacy:hover {
    color: #fff;
    text-decoration: underline;
}

/* Responsive design */

@media (min-width: 1050px) {
    .intro {
        width: 70%;
    }
    .smaller-screen {
        display: none;
    }
    .hero-header {
        font-size: 70px;
        width: 70%;
    }
    .hero .lead {
        font-size: 25px;
    }
    .index-container {
        margin-top: 25px;
    }
}

@media (min-width: 769px) and (max-width: 1049px) {
    html {
        width: 100vw;
    }
    #navbarNavDropdown { /* To set the dropdown navbar to the right and to be always on top */
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .nav-item {
        white-space: nowrap;
        font-size: 15px;
    }
    .nav-col {
        border-right: 0;
    }
    #first-nav {
        border-left: 0;
    }
    .hero-container {
        height: 70vh;
    }
    .intro {
        width: 70%;
    }
    .smaller-screen {
        display: none;
    }
    .hero-header {
        font-size: 70px;
        width: 70%;
    }
    .hero .lead {
        font-size: 25px;
    }
    .index-container {
        margin-top: 25px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) and (orientation:landscape) {
    #navbarNavDropdown { /* To set the dropdown navbar to the right and to be always on top */
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .hero-header {
        font-size: 35px;
        width: 70%;
    }
    .hero .lead {
        font-size: 20px;
    }
    .nav-item {
        white-space: nowrap;
        font-size: 15px;
    }
    .nav-col {
        border-right: 0;
    }
    #first-nav {
        border-left: 0;
    }
    iframe {
        width: 350px;
        height: 350px;
    }
    .big-hide, .carousel-indicators { /* To fix responsive design issues of elements taking up unnecessary screen space */
        display: none;
    }
    .hero-container {
        height: 100vh;
    }
}

@media (max-width: 668px) and (min-width: 666px) and (orientation: landscape) { /* To fix responsive design issues with the header disappearing underneath the navbar */
    .responsive-text {
        font-size: 15px;
    }
    .carousel-indicators {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .lead {
        font-size: 15px;
    }
    .intro {
        width: 600px;
    }
    .smaller-screen, .carousel-indicators { /* To fix responsive design issues of elements taking up unnecessary screen space */
        display: none;
    }
    #navbarNavDropdown { /* To set the dropdown navbar to the right and to be always on top */
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .nav-item {
        white-space: nowrap;
        font-size: 15px;
    }
    .contact p, .copyright p {
        font-size: 15px;
    }
    .nav-col {
        border-right: 0;
    }
    #first-nav {
        border-left: 0;
    }
    form {
        margin-left: 5px;
    }
    .hero-container {
        height: 100vh;
    }
}

@media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
    .lead {
        font-size: 15px;
    }
    #navbarNavDropdown { /* To set the dropdown navbar to the right and to be always on top */
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .nav-item {
        font-size: 15px;
    }
    .second, .hidden, .hide-landscape, .gallery-footer, form { /* To fix responsive design issues of elements taking up unnecessary screen space */
        display: none;
    }
    .hero-container {
        height: 100vh;
    }
    .carousel-indicators {
        display: none;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 27px;
    }
    p {
        padding-bottom: 0;
    }
    .lead {
        font-size: 15px;
    }
    .intro {
        width: 100vw;
    }
    .smol {
        font-size: 15px;
    }
    .hidden, .smaller-screen, form, .carousel-indicators { /* To fix responsive design issues of elements taking up unnecessary screen space */
        display: none;
    }
    #navbarNavDropdown { /* To set the dropdown navbar to the right and to be always on top */
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    iframe {
        width: 90vw;
        height: 300px;
    }
    .iframe {
        padding-left: 0;
    }
    .navbar-brand img {
        width: 60%;
    }
    .nav-item {
        white-space: nowrap;
    }
    .hero .lead {
        font-size: 15px;
    }
    .contact p, .copyright p {
        font-size: 12px;
    }
    .nav-col {
        border-right: 0;
    }
    #first-nav {
        border-left: 0;
    }
    .hero-container {
        height: 100vh;
    }
}

@media (max-width: 576px) and (orientation:landscape) {
    .index-header {
        font-size: 20px;
    }
    .hide, .gallery-footer, .carousel-indicators { /* To fix responsive design issues of elements taking up unnecessary screen space */
        display: none;
    }
    .hero-container {
        height: 100vh;
    }
    .down { /* To fix responsive design issues with the header disappearing underneath the navbar */
        top: 0;
    }
    .nav-item {
        font-size: 15px;
    }
    .lead {
        font-size: 15px;
    }
}