@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 75px;
    position: relative;
}

p {
    margin-bottom: 0;
}

.block-divider {
    width: 200px;
}

.gallery {
    background-color: #868686;
}

/*Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 2;
}

.navbar {
   margin: 0;
   border: 0;
   width: 100%;
   height: 100px;
   background-color: #000;
   padding: 0;
}

.navbar-brand {
    font-weight: bold;
    margin-right: 0;
    float: left;
}

.navbar-brand img {
    height: 100px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-item {
    font-size: 22px;
    color: white;
}

.nav-item a:hover {
    color: rgb(27, 124, 27);
}

.align-items-center {
    width: 100%;
    text-align: center;
}

.justify {
    justify-items: center;
}

.col {
    margin: 0;
    border: 0;
    width: 100%;
}

.nav-col {
    border-right: solid 3px grey;
}

#first-nav {
    border-left: solid 3px grey;
}

.active {
    text-decoration: underline;
}

.active:hover {
    color: rgb(27, 124, 27);
    text-decoration: underline;
}

.fixed {
    position: fixed;
    top: 0;
}

.marquee {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
    background-color: #ffff00;
    color: #000;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding: 4px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    z-index: 1;
}

.alert div { /*Special thanks to https://dev.to/ryandsouza13/creating-the-classic-marquee-effect-without-the-marquee-tag-4246 for this code*/
  font-size: 20px;
  font-family: Poppins;
  font-weight: bold;
  padding-left: 100%;
  display: inline-block;
  animation: animate 15s linear infinite;
  z-index: 1;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

.white {
    color: #fff;
}

#navbarNavDropdown {
    z-index: 3;
}

/* Hero image and text overlay */

.hero-container {
    height: 85vh;
    width: 100%;
    background: url(https://i.imgur.com/7IZiJzt.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hero {
    background-color: transparent;
}

.hero-header {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 25px;
    margin: 0 auto;
}

.hero .lead {
    margin: 0 auto;
    color: #bebbbb;
}

.scrolling {
    position: absolute;
    top: 100px;
    display: block;
    color: #000;
    background-color: #ffff00;
    width: 100vw;
}

.down {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

/* Page content */

.info-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.info-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.info-header h2 {
    margin-top: 0;
}

.info-header p {
    margin-bottom: 15px;
}

.member-header {
    margin-top: 20px;
}

.socials {
    text-decoration: none;
    color: #bebbbb;
}

.socials:hover {
    text-decoration: underline;
    color: #bebbbb;
}

.arrow-down {
    text-decoration: none;
    color: #bebbbb;
}

.arrow-down:hover {
    text-decoration: none;
    color: rgb(27, 124, 27);
}

.gallery-header {
    margin-top: 25px;
    text-align: center;
}

.carousel, .carousel-item {
    width: 70vw;
    height: 65vh;
    margin: 0 auto;
}

.container-wrapper {
    background-color: #bebbbb;
}

form {
    text-align: left;
    margin-left: 100px;
}

.form {
    color: rgb(238, 238, 238);
}

label {
    color: #bebbbb;
}

datalist {
    display: none;
}

iframe {
    width: 500px;
    height: 500px;
}

/* Footer */

footer {
    background-color: rgb(68, 68, 68);
    color: white;
    margin-top: auto;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.contact a {
    color: white;
}

.contact {
    width: 50%;
    border: 1px solid #000;
    position: relative;
    float: left;
    height: 75px;
    background-color: inherit;
    text-align: center;
}

.copyright {
    width: 50%;
    border: 1px solid #000;
    position: relative;
    float: right;
    color: #fff;
    height: 75px;
    background-color: inherit;
    text-align: center;
}

.privacy {
    color: #fff;
    text-decoration: none;
}

.privacy:hover {
    color: #fff;
    text-decoration: underline;
}

/* Responsive design */

@media only screen and (min-width: 769px) {
    .intro {
        width: 800px;
    }
    .smaller-screen {
        display: none;
    }
    .hero-header {
        font-size: 70px;
    }
    .member-header {
        margin-top: 0;
    }
    .hero .lead {
        font-size: 25px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) and (orientation:landscape) {
    #navbarNavDropdown {
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .nav-item {
        white-space: nowrap;
    }
    .nav-col {
        border-right: 0;
    }
    #first-nav {
        border-left: 0;
    }
    iframe {
        width: 350px;
        height: 350px;
    }
    .gallery-footer {
        display: none;
    }
    .big-hide {
        display: none;
    }
    .hero-container {
    height: 100vh;
    }
    .index-header {
        margin-top: 75px;
    }
    .member-header {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 668px) and (min-width: 666px) and (orientation: landscape) {
    .index-header {
        margin-top: 200px;
    }
    .member-header {
        margin-top: 200px;
    }
    .responsive-text {
        font-size: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .intro {
        width: 600px;
    }
    .smaller-screen {
        display: none;
    }
    #navbarNavDropdown {
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .nav-item {
        white-space: nowrap;
    }
    .contact p, .copyright p {
        font-size: 15px;
    }
    .nav-col {
        border-right: 0;
    }
    #first-nav {
        border-left: 0;
    }
    form {
        margin-left: 5px;
    }
    .hero-container {
    height: 100vh;
    }
    .intro-header {
        margin-top: 100px;
    }
    .member-header {
        margin-top: 100px;
    }
    .about-header {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 769px) and (orientation:landscape) {
    .index-header {
        margin-top: 150px;
    }
    .member-header {
        margin-top: 150px;
    }
    .about-header {
        margin-top: 150px;
    }
    .contact-header {
        margin-top: 25px;
    }
    #navbarNavDropdown {
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .nav-item {
        font-size: 15px;
    }
    .second {
        display: none;
    }
    .hidden {
        display: none;
    }
    form {
        display: none;
    }
    .hide {
        display: none;
    }
    .gallery-footer {
        display: none;
    }
    footer {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
    }
    .hero-container {
    height: 100vh;
    }
}

@media only screen and (max-width: 576px) and (min-width: 341px) {
    .intro {
        width: 100%;
    }
    .hidden {
        display: none;
    }
    #navbarNavDropdown {
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .index-header {
        margin-top: 0;
    }
    .member-header {
        margin-top: 0;
    }
    .about-header {
        margin-top: 0;
    }
    .contact-header {
        margin-top: 50px;
    }
    iframe {
        width: 90vw;
        height: 300px;
    }
    .navbar-brand img {
        width: 60%;
    }
    .smaller-screen {
        display: none;
    }
    .nav-item {
        white-space: nowrap;
    }
    .hero .lead {
        font-size: 15px;
    }
    .contact p, .copyright p {
        font-size: 12px;
    }
    .nav-col {
        border-right: 0;
    }
    #first-nav {
        border-left: 0;
    }
    form {
        display: none;
    }
    .hidden {
        display: none;
    }
    .hero-container {
    height: 100vh;
    }
}

@media only screen and (max-width: 576px) and (min-width:341px) and (orientation:landscape) {
    .index-header {
        margin-top: 0;
        font-size: 20px;
    }
    .member-header {
        margin-top: 0;
    }
    .about-header {
        margin-top: 0;
    }
    .contact-header {
        margin-top: -50px;
    }
    .hide {
        display: none;
    }
    footer {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
    }
    .hero-container {
    height: 100vh;
    }
    .down {
        top: 0;
    }
}

@media only screen and (max-width: 340px) {
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 27px;
    }
    .index-header {
        margin-top: 0;
    }
    .member-header {
        margin-top: 0;
    }
    .about-header {
        margin-top: 0;
    }
    .contact-header {
        margin-top: 0;
    }
    .optional {
        display: none;
    }
    #navbarNavDropdown {
        background-color: #000;
        z-index: 3;
        position: fixed;
        right: 0;
        top: 100px;
    }
    .nav-item {
        white-space: nowrap;
    }
    .hero .lead {
        font-size: 15px;
    }
    .contact p, .copyright p {
        font-size: 12px;
    }
    .nav-col {
        border-right: 0;
    }
    #first-nav {
        border-left: 0;
    }
    form {
        display: none;
    }
    .hidden {
        display: none;
    }
    .hero-container {
    height: 100vh;
    }
}

@media only screen and (max-width: 340px) and (orientation:landscape) {
    .index-header {
        margin-top: 0;
    }
    .member-header {
        margin-top: 0;
    }
    .about-header {
        margin-top: 0;
    }
    .contact-header {
        margin-top: 50px;
    }
    footer {
        display: none;
    }
    .hero-container {
    height: 100vh;
    }
}